html, body {
    height: 100%;
}
body{
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgba(116, 225, 240, 0.637);
    font-family: 'Courgette';
    overflow: hidden;

}
input {
    font-size: 20px;
    border: 0px;
    padding: 10px;
    font-family: 'Courgette' , cursive;
}
input[type="submit"] {
    background: rgb(121, 101, 235);
    color: white;
}
img{
    margin: 50px 0px 0px 0px ;
}
